:root {
 --bg-white: #ffffff;
 --gradient-start: rgba(255, 255, 255, 0.8);
 --gradient-end: rgba(2, 36, 86, 0.5);
 --text-dark: #022456;
 --text-muted: #444;
}

header {
  height: auto;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  z-index: 999;
}

.navbar {
  width: 80vw;
  height: auto;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px 32px;
  border-radius: 1000px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  position: fixed;
  background-color: white;
}

.nav-logo {
  width: 204px;
  height: 15px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 20px;
  font-weight: normal;
}

.header-button button {
  background-color: #022456;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 1000px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: 'Cabinet Grotesque', sans-serif;
  background: var(--bg-white);
  color: var(--text-dark);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

    .hero {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 4rem 2rem;
      text-align: center;
      background: radial-gradient(circle at center center, var(--gradient-start) 0%, var(--gradient-end) 100%);
    }

    .logo {
      max-width: 204px;
      margin-bottom: 1rem;
    }

    .tagline {
      font-size: 1.2rem;
      margin-top: 0.25rem;
      font-weight: 100;
      color: var(--text-dark);
    }

    .message {
      margin-top: 4rem;
      font-size: 1rem;
      color: var(--text-muted);
    }


/* Ready To Start Section */
.ready-start {
  background-color: #022456;
  padding: 64px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.ready-text-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ready-text-container h1 {
  font-size: 4em;
}
.ready-text-container p {
  font-size: 2em;
}
.ready-text-container h1, .ready-text-container p {
  color: white;
  text-align: center;
  margin: 0;
}

.ready-button button {
  background-color: #fff;
  color: #022456;
  padding: 20px 32px;
  border: none;
  border-radius: 1000px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}


/* Footer Section */
.footer {
  padding: 32px 64px 32px 64px;
  text-align: center;
  background-color: #f9f9f9;
  font-size: 0.95rem;
  color: var(--text-dark);
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    width: 200px;
    height: 58px;
    cursor: pointer;
}    

.footer-links {
    display: flex;
    flex-direction: row;
    gap: 24px;

}

.social-links {
  /* margin-top: 1rem; */
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 0.95rem;
}

.footer-divider {
    background-color: #A0ABBB;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-email {
    align-items: center;
    display: flex;
    gap: 8px;
}

.footer-button {
    width: 72px;
    height: 72px;
    padding: 24px 24px;
    border-radius: 1000px;
    background-color: #022456;
    border: none;
    cursor: pointer;
    position: relative;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}

@media (min-width: 600px) {
  .tagline {
    font-size: 3rem;
  }

  .message {
    font-size: 1.2rem;
  }
  
  .email {
    font-weight: 700;
  }

  .footer {
    font-size: 1rem;
  }
}
