:root {
 --bg-white: #ffffff;
 --gradient-start: rgba(255, 255, 255, 0.8);
 --gradient-end: rgba(2, 36, 86, 0.5);
 --text-dark: #022456;
 --text-muted: #444;
}

header {
  height: auto;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  z-index: 999;
}

h1, h2, p {
  margin: 0;
}

.section-ellipse {
  width: 12px;
  height: 12px;
}

.step-indicator {
  width: 28px;
  height: 28px;
}

.navbar {
  width: 60vw;
  height: auto;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px 32px;
  border-radius: 1000px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  position: fixed;
  background-color: white;
}

.nav-logo {
  width: 204px;
  height: 15px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 1.125em;
  /* font-weight: 400; */
  color: #000;
}

.header-button {
  background-color: #022456;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 1000px;
  font-size: 1.125em;
  font-weight: 600;
  cursor: pointer;
  transform-origin: center;
  transition: transform 0.3s ease, background 0.3s ease;
}

.header-button:hover {
  transform: scale(1.11);
  background: linear-gradient(135deg, #04317A, #022456);
}

body {
  margin: 0;
  font-family: 'Cabinet Grotesk', sans-serif;
  background: #F7F8F9;
  color: var(--text-dark);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

    .hero {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 4rem 2rem;
      text-align: center;
      background: radial-gradient(circle at center center, var(--gradient-start) 0%, var(--gradient-end) 100%);
    }

    .logo {
      max-width: 204px;
      margin-bottom: 1rem;
    }

    .tagline {
      font-size: 1.2rem;
      margin-top: 0.25rem;
      font-weight: 100;
      color: var(--text-dark);
    }

    .message {
      margin-top: 4rem;
      font-size: 1rem;
      color: var(--text-muted);
    }


/* About Us Section */
.about-us {
  background-color: #B3BDCC;
  padding: 64px 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
}

/* Left Container */

.left-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
}

.about-us-heading {
  display: flex;
  align-items: center;
  gap: 12px;
}
.about-us-heading h2 {
  margin: 0;
  font-size: 1.25em;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-text-container h1, .about-text-container p {
  /* text-align: center; */
  margin: 0;
}

.about-text-container h1 {
  font-size: 3em;
}

.about-text-container p {
  color: #323A46;
  font-size: 1.25em;
}

.about-button {
  background-color: #022456;
  color: white;
  font-size: 1em;
  font-weight: 700;
  border: none;
  padding: 16px 32px;
  border-radius: 1000px;
  cursor: pointer;
  width: fit-content;
  transform-origin: center;
  transition: transform 0.3s ease, background 0.3s ease;
}

.about-button:hover {
  transform: scale(1.11);
  background: linear-gradient(135deg, #04317A, #022456);
}

/* Right Container */

.right-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.step {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.step-number {
  font-weight: 500;
}

.step-heading {
  font-size: 1.75em;
}

.step-heading-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.step-message {
  font-size: 1.25em;
  color: #0D0F11;
  font-weight: 400;
}

.step-message-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
    

/* Technologies We Use Section */
.tech-we-use {
  background-color: #F7F8F9;
  padding: 64px 200px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.tech-we-use-heading {
  display: flex;
  align-items: center;
  gap: 12px;
}

.tech-text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.tech-text-container h2, .tech-text-container p {
  text-align: center;
  margin: 0;
}

.tech-text-container h2 {
  color: #022456;
  font-size: 1.5em;
}

.tech-text-container p {
  color: #323A46;
  font-size: 1.25em;
  font-weight: 400;
}

.tech-container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.tech {
  background-color: white;
  padding: 20px 24px;
  color: #000;
  font-size: 1.125em;
  font-weight: 500;
  width: auto;
  height: auto;
  border-radius: 12px;
}

.tech:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  /* transform: translateY(-4px); */
  transition: all 0.3s ease;
}

/* Ready To Start Section */
.ready-start {
  background-color: #022456;
  padding: 64px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.ready-text-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ready-text-container h1 {
  font-size: 3em;
}
.ready-text-container p {
  font-size: 1.25em;
}
.ready-text-container h1, .ready-text-container p {
  color: white;
  text-align: center;
  margin: 0;
}

.ready-button {
  background-color: #fff;
  color: #022456;
  padding: 20px 32px;
  border: none;
  border-radius: 1000px;
  font-size: 1.125em;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transform-origin: center;
  transition: transform 0.3s ease, background 0.3s ease;
}

.ready-button:hover {
  transform: scale(1.11);
  background: linear-gradient(135deg, #CCD3DD, #B3BDCC);
}

/* Footer Section */
.footer {
  padding: 32px 64px 32px 64px;
  text-align: center;
  background-color: #f9f9f9;
  /* font-size: 1em; */
  color: #323A46;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    width: 200px;
    height: 58px;
    cursor: pointer;
}

.footer-links {
    display: flex;
    flex-direction: row;
    gap: 24px;
    font-size: 1.25em;
    font-weight: 400;
}

.social-links {
  /* margin-top: 1rem; */
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 0.95rem;
  align-items: center;
}

.footer-divider {
    background-color: #A0ABBB;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright {
  font-size: 1.125em;
}

.footer-email {
    align-items: center;
    display: flex;
    gap: 8px;
    font-size: 1.125em;
    font-weight: 400;
}

.footer-button {
    width: 72px;
    height: 72px;
    padding: 24px 24px;
    border-radius: 1000px;
    background-color: #022456;
    border: none;
    cursor: pointer;
    position: relative;
    transition: all 0.5s ease;
    transform-origin: center;
    z-index: 0;
}

.footer-button:hover {
  transform: scale(1.11);
  background-color: rgba(255, 255, 255, 0.8);
  background: linear-gradient(135deg, #04317A, #022456);
}

a {
  color: #000;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s ease-in-out;
  position: relative;
}

a::after {
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #022456;
  content: "";
  position: absolute;
  transition: width 0.3s ease-in-out;  
}

a:hover {
  color: #022456;
}

a:hover::after {
  width: 100%;
} 

@media (min-width: 600px) {
  .tagline {
    font-size: 3rem;
  }

  .message {
    font-size: 1.2rem;
  }
  
  .email {
    font-weight: 700;
  }

  .footer {
    font-size: 1rem;
  }
}
